<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="special" requirePermission="false" type="Fosol.Common.UnitTests.Configuration.TestSection, Fosol.Common.UnitTests"/>
  </configSections>

  <special>
    <items>
      <one one="test one"/>
      <two two="test two"/>
    </items>
  </special>
</configuration>